.el-dialog {
  padding: 16px 30px;

  &__header {
    padding: var(--el-dialog-padding-primary) 0;
    border-bottom: 1px solid #dcdfe6;
    margin-bottom: 20px;
  }

  &--noheader .el-dialog__header {
    display: none;
  }

  &__headerbtn {
    right: 16px;
    top: 22px;
  }
}

.el-dialog--footer-center {
  .el-dialog__footer {
    text-align: center;
  }
}

.el-dialog--center {
  .el-dialog__header {
    text-align: left;
  }
}

.el-drawer {
  transition: none !important;

  &__header {
    border-bottom: 1px solid #dcdfe6;
    margin-bottom: 0 !important;
    padding: 30px 30px 24px !important;
  }

  &__title {
    font-size: 24px !important;
    font-weight: 500;
    color: #1d1e1f;
  }
}

.el-tabs--full {
  overflow: hidden;

  .el-tabs__content {
    height: 100%;
  }

  .el-tab-pane {
    height: 100%;
  }
}

.el-input-number.el-input-number--left {
  .el-input__inner {
    text-align: left !important;
  }
}
